<ul class="nav flex-column mb-2">
    <li class="nav-item">
        <a class="nav-link" href="/admin/repairs/create">
            <span data-feather="plus-circle"></span>
            Create Repair
        </a>
    </li>
</ul>